[submodule "tools/pcodec"]
	path = tools/pcodec
	url = https://github.com/pcodec/pcodec.git
[submodule "tools/SZo"]
	path = tools/SZo
	url = https://github.com/BingluCS/SZo.git
[submodule "tools/SPERR"]
	path = tools/SPERR
	url = https://github.com/moonlightplague/SPERR.git
[submodule "tools/QoZ"]
	path = tools/QoZ
	url = https://github.com/moonlightplague/QoZ.git
